<h1>{{ category }}</h1>
{{#each products}}
    <!-- Muestra los detalles de cada producto -->
    <div>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <p>Precio: {{ price }}</p>
    </div>
{{/each}}
