<footer class="footer bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <img src="/images/logo.png" alt="Logo" style="height: 100px;">
                    <div class="ml-5">
                        <h5 class="mb-3">Categories</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li><a href="/category/cascos">Cascos</a></li>
                                    <li><a href="/category/guantes">Guantes</a></li>
                                    <li><a href="/category/maletas">Maletas</a></li>
                                    <li><a href="/category/visores">Visores</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li><a href="/category/mascaras">Máscaras</a></li>
                                    <li><a href="/category/cauchos">Caucho</a></li>
                                    <li><a href="/category/bolsos">Bolsos</a></li>
                                    <li><a href="/category/candados">Candados</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <h5 class="mb-3">Follow Us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-square fa-3x"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram-square fa-3x"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter-square fa-3x"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 EShop. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
