<div class="row justify-content-between align-items-center mb-5">
    <div class="col-md-auto">
        <h1>
            Bienvenido a MotoTrend!
            <i class="fa-solid fa-bag-shopping"></i>
        </h1>
    </div>
    <div class="col-md-auto">
        <a href="/cart" class="btn btn-lg">
            <i class="fa-solid fa-cart-shopping bi bi-cart3 fa-2x"></i>
        </a>
    </div>
</div>
<div class="container">
    <div class="row fa-1x text-center d-flex justify-content-center">
        <p>
            En MotoTrend, estamos apasionados por el mundo de las motocicletas y todo lo relacionado con ellas. Desde accesorios de seguridad hasta equipamiento de última tecnología, nos dedicamos a ofrecer a los pilotos de motocicletas de todas las edades y niveles de experiencia la mejor selección de productos para satisfacer sus necesidades y deseos.
        </p>
        <p>
            Nuestra historia comenzó con una simple idea: proporcionar a la comunidad de motociclistas un destino confiable y completo para encontrar todo lo que necesitan, desde cascos y guantes hasta piezas de repuesto y gadgets de alta gama. Lo que empezó como una pasión compartida se ha convertido en una tienda en línea líder, respaldada por nuestro compromiso inquebrantable con la calidad, la innovación y el servicio al cliente excepcional.
        </p>
        <p>
            En MotoTrend, nos esforzamos por ofrecer una experiencia de compra sin igual. Nuestro equipo está formado por entusiastas de las motocicletas que conocen de primera mano las necesidades y los deseos de la comunidad a la que servimos. Nos dedicamos a seleccionar cuidadosamente cada producto que ofrecemos, asegurándonos de que cumpla con nuestros estándares exigentes de calidad, rendimiento y estilo.
        </p>
        <p>
            Además de nuestra amplia gama de productos, también nos enorgullece ofrecer un servicio al cliente excepcional. Estamos aquí para ayudarte en cada paso del camino, desde asesorarte sobre el equipo adecuado hasta resolver cualquier pregunta o inquietud que puedas tener. Tu satisfacción y seguridad son nuestra máxima prioridad.
        </p>
        <p>
            En MotoTrend, no solo vendemos productos, sino que también fomentamos una comunidad de motociclistas apasionados que comparten nuestra pasión por la libertad, la aventura y la emoción de montar en moto. Nos encanta conectarnos con nuestros clientes y escuchar sus historias y experiencias en la carretera.
        </p>
        <p>
            Gracias por elegir MotoTrend como tu destino de confianza para todas tus necesidades de equipamiento para motocicletas. ¡Estamos emocionados de ser parte de tu viaje en dos ruedas y esperamos acompañarte en todas tus aventuras futuras!
        </p>
        <p class="fa-2x">
            ¡Ride on! <br>

            El equipo de MotoTrend
        </p>
    </div>
</div>