<div class="row justify-content-between align-items-center mb-4">
    <div class="col-md-auto">
        <h1>
            ¡Contáctanos!            
            <i class="fa-regular fa-address-book"></i>
        </h1>
    </div>
    <div class="col-md-auto">
        <a href="/cart" class="btn btn-lg">
            <i class="fa-solid fa-cart-shopping bi bi-cart3 fa-2x"></i>
        </a>
    </div>
</div>

<div class="container">
    <div class="row fa-1x text-center d-flex justify-content-center">
        <p>
            En MotoTrend, estamos aquí para ayudarte en todo lo que necesites. Ya sea que tengas preguntas sobre nuestros productos, necesites asistencia con tu pedido o simplemente quieras compartir tu pasión por las motocicletas, estamos aquí para ti. No dudes en ponerte en contacto con nosotros a través de cualquiera de los siguientes métodos:
        </p>
        <p class="fa-2x">
                Correo electrónico: hectorlgonzalez@gmail.com <br>
                Teléfono: 04127434416 <br>
                Horario de atención al cliente: Lunes a viernes de 9:00 a 17:00 <br>
                Dirección: Miranda, chacao
        </p>
        <p>
                Además, también puedes comunicarte con nosotros a través de nuestras redes sociales para mantenerte al tanto de las últimas novedades, promociones y eventos especiales:
        </p>
        <p class="fa-2x">
            <li class="list-inline-item"><a href="https://www.facebook.com/gonzaalzz.91" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/gonzaalzz.91/" target="_blank"><i class="fab fa-instagram-square fa-3x"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/gonzaalzz" target="_blank"><i class="fab fa-twitter-square fa-3x"></i></a></li>
        </p>        
        <p class="fa-2x">
            ¡Estamos deseando escuchar de ti y ayudarte en todo lo que podamos! <br>
            El equipo de MotoTrend
        </p>
    </div>
</div>